@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background: black;
    color: white; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px 0 48px;
}

.project-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    margin: 0 auto
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 8px 32px;
    border: none;
    cursor: pointer;
}

.igrpl-button {
    background-color: green;
    color: white;
}


.state {
    width: 20rem;
    height: auto;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 48px;
}

.box2 {
    display: flex;
}
/* Add more state positions as needed */

.star2, .star3 {
    margin-left: -30px;
}

.star2:hover, .star3:hover {
    transform: scale(1.2);
}

.abc:hover {
    cursor: pointer;
    fill: red;
}

.num {
    position: absolute;
    font-size: 20px;
    color: white;
    /* cursor: pointer; */
}

.pin-icon2 {
    /* position: absolute; */
    width: 30px;
    height: auto;
}

.num-ap {
    margin-left: 225px;
    margin-top: -180px;
}

.num-ct {
    margin-left: 295px;
    margin-top: -310px;
}

.num-up {
    margin-left: 255px;
    margin-top: -390px;
}

.num-hr {
    margin-left: 185px;
    margin-top: -435px;
}

#INAP,
#INUP,
#INCT, 
#INHR {
    fill: rgba(0, 128, 0, 0.904);
}

#INAP:hover,
#INUP:hover,
#INCT:hover,  
#INHR:hover {
    fill: #4dff56;
    /* cursor: url(./images/click\ \(1\).png), auto; */
    cursor:pointer;
}

.project-card-container {
    display: none;
}

/* .project-card {
    width: 200px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid black;
    padding: 16px;
    align-items: flex-start;
} */

/* .card-image {
    width: 30px;
    height: auto;
} */

.kakinada-text {
    display: none;
}

.pin-kakinada1:hover + .kakinada-text {
    display: block;
    position: absolute;
}

/* ADDING CLASSLISTS TO FETCH IN JAVASCRIPT */
.project-card-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    gap: 16px;
}

.project-card {
    border: 1px solid rgba(0, 128, 0, 0.226);
    padding: 24px;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(172, 255, 47, 0.445);
    border-radius: 8px;
    gap: 8px;
}

.project-card-new .completed {
    background-color: greenyellow;
}

h5 {
    margin-bottom: 4px;
    opacity: 0.5;
}

.project-card.progress {
    background-color: rgba(107, 107, 104, 0.089);
}

.project-card > div > p {
    font-weight: 500;
}

.card-image {
    width: 60px;
    height: auto;
    opacity: 0.5;
    /* background: #4dff56; */
}
