@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .projects-head {
    display: flex;
    justify-content: space-between;
} */

:root {
    --stateColor: hsla(100, 60%, 50%, 0.5);
}

.map-projects-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px 0 48px;
}

.map-project-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    margin: 0 auto
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 8px 32px;
    border: none;
    cursor: pointer;
}

.map-active-button {
    background-color: green;
    color: white;
}

.map-state {
    width: 20rem;
    height: auto;
    cursor: pointer;
}

.map-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 48px;
}

.map-box1 {
    width: 100%;
}

.map-box2 {
    display: flex;
    width: 100%;
}

.map-default-projects-info-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 32px;
}

li {
    list-style: none;
}
/* Add more state positions as needed */

.map-star2, .map-star3 {
    margin-left: -30px;
}

.map-star2:hover, .map-star3:hover {
    transform: scale(1.2);
}

.map-abc:hover {
    cursor: pointer;
    fill: red;
}

.map-pin-icon {
    position: absolute;
    width: 18px;
    height: auto;
    /* cursor: pointer; */
}

.map-pin-icon2 {
    /* position: absolute; */
    width: 30px;
    height: auto;
}
.map-pin-kakinada1 {
    margin-left: 275px;
    margin-top: -210px;
}
.map-pin-kakinada2 {
    margin-left: 265px;
    margin-top: -210px;
}
.map-pin-kakinada3 {
    margin-left: 270px;
    margin-top: -215px;
}

.map-pin-raipur {
    margin-left: 295px;
    margin-top: -310px;
}
.map-pin-bilaspur {
    margin-left: 290px;
    margin-top: -300px;
}

.map-pin-bhopal {
    margin-left: 210px;
    margin-top: -320px;
}
.map-pin-bhopal2 {
    margin-left: 215px;
    margin-top: -323px;
}
.map-pin-indore {
    margin-left: 176px;
    margin-top: -315px;
}
.map-pin-jabalpur {
    margin-left: 250px;
    margin-top: -319px;
}
.map-pin-seoni {
    margin-left: 235px;
    margin-top: -305px;
}

.map-pin-chandauli {
    margin-left: 305px;
    margin-top: -370px;
}
.map-pin-prayagraj {
    margin-left: 280px;
    margin-top: -358px;
}
.map-pin-haidergarh {
    margin-left: 260px;
    margin-top: -395px;
}
.map-pin-barabanki {
    margin-left: 250px;
    margin-top: -400px;
}
.map-pin-pilibhit {
    margin-left: 250px;
    margin-top: -420px;
}

.map-pin-jind {
    margin-left: 175px;
    margin-top: -435px;
}
.map-pin-jhajjar1 {
    margin-left: 185px;
    margin-top: -430px;
}
.map-pin-jhajjar2 {
    margin-left: 185px;
    margin-top: -420px;
}
.map-pin-hisar {
    margin-left: 190px;
    margin-top: -418px;
}
.map-pin-panipat {
    margin-left: 178px;
    margin-top: -425px;
}
.map-pin-fatehbad {
    margin-left: 190px;
    margin-top: -440px;
}

.map-pin-suratgarh {
    margin-left: 145px;
    margin-top: -437px;
}
.map-pin-vadodara {
    margin-left: 135px;
    margin-top: -310px;
}

.map-num {
    position: absolute;
    font-size: 20px;
    color: white;
    /* cursor: pointer; */
}

.map-num-ap {
    margin-left: 225px;
    margin-top: -180px;
}

.map-num-ct {
    margin-left: 295px;
    margin-top: -310px;
}

.map-num-up {
    margin-left: 255px;
    margin-top: -390px;
}

.map-num-hr {
    margin-left: 185px;
    margin-top: -435px;
}


#INAP,
#INRJ,
#INMP,
#INUP,
#INCT, 
#INHR,
#INGJ {
    fill: var(--stateColor);
    /* backdrop-filter: blur(5px); */
}

#INAP:hover,
#INRJ:hover,
#INMP:hover,
#INUP:hover,
#INCT:hover, 
#INGJ:hover, 
#INHR:hover {
    fill: #4dff56;
    /* cursor: url(./images/click\ \(1\).png), auto; */
    cursor:pointer;
    filter: drop-shadow(0 0 2px #4dff56) drop-shadow(0 0 2px #4dff56) drop-shadow(0 0 10px #4dff56);
}

#INAP2,
#INUP2,
#INCT2, 
#INHR2 {
    fill: var(--stateColor);
}

#INAP2:hover,
#INUP2:hover,
#INCT2:hover,  
#INHR2:hover {
    fill: #4dff56;
    filter: drop-shadow(0 0 2px #4dff56) drop-shadow(0 0 2px #4dff56) drop-shadow(0 0 10px #4dff56);
    /* cursor: url(./images/click\ \(1\).png), auto; */
    cursor:pointer;
}

.map-project-card-container {
    display: none;
}

/* .project-card {
    width: 200px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid black;
    padding: 16px;
    align-items: flex-start;
} */

/* .card-image {
    width: 30px;
    height: auto;
} */

.map-kakinada-text {
    display: none;
}

.map-pin-kakinada1:hover + .kakinada-text {
    display: block;
    position: absolute;
}

/* ADDING CLASSLISTS TO FETCH IN JAVASCRIPT */
.map-project-card-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    gap: 16px;
}

.map-project-card {
    border: 1px solid rgba(0, 128, 0, 0.226);
    padding: 16px;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(110, 100%, 40%, 0.6);
    border-radius: 8px;
    gap: 16px;
}

.map-project-card-new .completed {
    background-color: greenyellow;
}

h5 {
    margin-bottom: 8px;
    opacity: 0.5;
}

.map-project-card.map-progress {
    background-color: rgba(107, 107, 104, 0.089);
}

.map-project-card > div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.map-project-card > div > p {
    font-weight: 500;
}

.map-card-image {
    width: 50px;
    height: auto;
    opacity: 0.5;
    /* background: #4dff56; */
}